.container{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.card-component{

    padding: 30px;
    border-radius: 30px;
    background-color: var(--card-color);
    width: 15rem;
    max-width:100%;
    color: var(--soft-blue);
    position: relative;
    bottom: 0;
    transition:  bottom 0.2s linear;
}

.card-component:hover{

    bottom: 18px;
}

.card-component:hover .card-component-title{

    color: var(--cyan);
}

.card-component:hover .card-component-img::before{

    opacity: 0.3;
}

.author{

    transition: color 0.3s ;
}
.card-component:hover .author{

    color: var(--cyan);
}

.card-component-img{

    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.card-component-img::before{

    content: url("") ;
    background-image: url("../images/icon-view.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--cyan);
    top: 0;
    left: 0;
    opacity: 0;
    border-radius: 15px ;
    transition: opacity 0.3s;

}

.card-component-img img{

    width: 100%;
    border-radius: 15px;
}

.card-component-title{

    color: var(--white);
    font-size: 20px;
    transition: 0.5s;
}

.card-component-info{

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-component-footer{

    border-top: 1px solid var(--line-color);
    display: flex;
    align-items: center;
    padding: 6px;
    gap: 10px;
}

.card-component-avatar{

    width: 35px;
}

.card-component-avatar img{

    width: 100%;
    border: solid 1px var(--white);
    border-radius: 100%;
}